
h1 {
font-family: "Sawarabi Gothic", sans-serif;
font-weight: 400;
font-style: normal;
text-align: center;
}

#test-table {
margin: auto;
border: solid;
border-width: 1px;
border-color: #bbbdae;
}

.test-header {
color: #E0D7C1;
text-align: center;
border: solid;
border-width: 1px;
border-color: #bbbdae;
}

.test-cell {
border: solid;
border-width: 1px;
border-color: #bbbdae;
}


.cakename {
color: #7d940a;
}

h2 {
font-family: "Sawarabi Gothic", sans-serif;
font-weight: 400;
font-style: normal;
text-align: center;
}

.make {
color: #7d940a;
}

.box {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
gap: 0px;
}


.process {
color: #E0D7C1;
border: solid;
border-width: 1px;
border-color: #bbbdae;
}


